@media (max-width: 1199.98px) {}

@media (max-width: 991px) {
    .product-card__item,
    .product-card__item.product-card__item--big-item {
        flex: calc(50% - 15px) 0 1;
        max-width: calc(50% - 15px);
        margin: 7px;
        flex-direction: column;
        max-height: 100%;
        >* {
            flex: 100% 0 1!important;
            max-width: 100%!important;
        }
        .product-card__img {
            max-height: 210px;
        }
        .product-card__title {
            font-size: 24px;
            line-height: 130%;
        }
        .product-card__descr {
            font-size: 14px;
            line-height: 22px;
        }
        .product-card__description {
            padding: 27px;
        }
    }
    .product-card__menu {
        flex-direction: column;
    }
    .product-card__hover {
        overflow-x: auto;
    }
    .product-card__column {
        padding-left: 10px;
    }
    .products__title {
        color: #B29972!important;
    }
    .shop__item {
        flex: calc(33.333% - 20px) 0 1;
        max-width: calc(33.333% - 20px);
        margin: 10px;
    }
    .shop__list {
        margin: -10px;
    }
    .is_page .tabs-section__menu-items li.active::before {
        display: none;
    }
    .is_page .tabs-section__items--item {
        padding-top: 20px;
    }
    .shop__list {
        padding-top: 0;
    }
    .book__inner {
        flex-direction: column;
    }
}

@media (max-width: 680px) {
    .product-card__inner {
        margin: 0;
    }
    .product-card__item,
    .product-card__item.product-card__item--big-item {
        flex: 100% 0 1;
        max-width: 100%;
        margin: 10px 0;
    }
    .is_page .tabs-section__items--item .button span.first-span {
        font-size: 14px;
    }
    .button span.first-span span,
    a.button span.first-span span {
        padding: 5px 15px;
    }
}

@media (max-width: 600px) {
    .shop__item {
        flex: calc(50% - 10px) 0 1;
        max-width: calc(50% - 10px);
        margin: 5px;
        padding: 5px;
    }
    .shop__list {
        margin: -5px;
    }
    .shop__img {
        margin-bottom: 0;
    }
    .shop__item:hover .shop__button {
        // bottom: -80px;
    }
    .breadcrumbs {
        flex-wrap: wrap;
    }
    .book__descr {
        margin: 10px 0;
    }
    .book__inner {
        padding: 15px;
    }
}

@media (max-width: 400px) {
    .book__button {
        margin: 10px 0 0;
    }
    .product-card__link {
        a {
            font-size: 14px;
        }
    }
    .product-card__title {
        font-size: 20px!important;
    }
    header.header .header__bottom p,
    .ausproviet p,
    .advantages-item p,
    .instant p,
    footer p,
    .anwendung .anwendung__item p,
    .button span.first-span,
    a.button span.first-span,
    .billet .billet__border-block--item ul li p,
    .geheimnis p,
    .video p,
    .book__descr,
    .banner__text,
    .banner__link,
    .news__date,
    .news__descr,
    .link,
    .single-news__date,
    .single-news__text p,
    .is_page .tabs-section p,
    .about__description {
        max-width: 300px;
        margin: 0 auto;
    }
    .anwendung .button,
    .ausproviet a.button,
    .video a.button {
        margin-top: 20px!important;
    }
}

@media (max-width: 900px) {
    .popup__img {
        display: none;
    }
    .popup__descr {
        p {
            font-size: 16px;
        }
    }
}

@media (max-width: 500px) {
    .popup__body {
        padding: 15px;
    }
    // .popup__row {
    //     display: block;
    //     >* {
    //         max-width: 100%;
    //     }
    // }
    .popup__descr {
        p {
            font-size: 14px;
        }
    }
}

@media (max-width: 991px) {
    .callback__body {
        padding: 20px;
    }
    .title {
        font-size: 30px;
    }
    .about__title {
        margin-bottom: 20px;
    }
    .about__description {
        font-size: 16px;
    }
    .callback__inner {
        padding: 10px;
    }
}

@media (max-width: 700px) {
    .callback__body {
        flex-wrap: wrap;
        >* {
            flex: 100% 0 1;
            max-width: 100%;
            padding: 0;
        }
    }
    .title {
        font-size: 26px;
    }
}

@media (max-width: 400px) {
    .contact {
        font-size: 14px;
    }
    .title {
        font-size: 24px;
    }
    .about__title {
        margin-bottom: 15px;
    }
    .about__description {
        font-size: 14px;
    }
}

.header__top--soc a span,
.mobile {
    display: none;
    @media (max-width: 768px) {
        display: inline;
    }
}

@media (max-width: 1299.98px) {
    .shop-items__product-title {
        font-size: 32px;
    }
    .product-card__item--big-item {
        .product-card__img {
            flex: 50% 0 1;
            max-width: 50%;
        }
        .product-card__description {
            flex: 50% 0 1;
            max-width: 50%;
            padding: 10px;
        }
    }
    .products__descr p:last-child {
        margin: 0;
    }
    .product-card__hover {
        padding: 20px;
    }
    .product-card__title {
        margin-bottom: 20px!important;
    }
    .container {
        max-width: 992px;
    }
    header.header .header__top--soc ul li a,
    header.header .header__top--menu ul li a,
    footer a {
        font-size: 14px;
    }
    header.header .header__top--soc ul li .fb {
        margin: 0 10px;
    }
    header.header .header__top--soc ul li img {
        width: 28px;
        height: 28px;
    }
    header.header .header__top--logo a img {
        width: 140px;
    }
    header.header .header__top--menu ul {
        text-align: center;
    }
    header.header .header__bottom h1,
    .billet .billet__border-block--item ul li strong,
    .ausproviet h2,
    .instant h2,
    .is_page .tabs-section__items--item .h1,
    .title,
    .product-card__item--big-item .product-card__title {
        font-size: 24px;
    }
    .news__title {
        font-size: 24px;
    }
    .is_page .tabs-section__description {
        padding-top: 10px!important;
    }
    .is_page .tabs-section img {
        margin: 40px 0;
    }
    .is_page .tabs-section__items--item .button {
        margin-top: 30px;
    }
    .product-card__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .button span.first-span,
    a.button span.first-span,
    .billet .billet__border-block--item ul li p,
    .is_page .tabs-section p,
    .banner__text,
    .news__descr,
    .link,
    .product-card__item--big-item .product-card__descr {
        font-size: 14px;
    }
    header.header .header__bottom p,
    .ausproviet p,
    .advantages-item p,
    .instant p,
    footer p,
    .anwendung .anwendung__item p {
        font-size: 14px;
    }
    .banner__item:not(:last-child) {
        margin-bottom: 20px!important;
    }
    .news__img {
        width: 240px;
        height: 240px;
        flex: 240px 0 1;
    }
    .banner__inner,
    .news__description {
        padding: 30px 40px!important;
    }
    header.header {
        min-height: auto;
    }
    header.header .header__bottom,
    .ausproviet {
        min-height: auto;
    }
    header.header .header__bottom a.button {
        margin: 10px 0 30px;
    }
    header.header .header__bottom {
        padding-bottom: 0px;
    }
    .leichtigkeit .leichtigkeit__item p,
    .video h2,
    .slider h2,
    .anwendung .anwendung__item h2 {
        font-size: 24px;
    }
    .anwendung .anwendung__item {
        min-height: 175px;
    }
    .leichtigkeit .leichtigkeit__item {
        padding: 40px 100px;
    }
    .book .book__inner {
        padding: 45px 60px;
    }
    .title {
        font-size: 24px;
    }
    .book__descr {
        margin: 20px 0
    }
    .geheimnis p,
    .video p,
    .popup__descr p,
    .book__descr {
        font-size: 14px;
    }
    .is_page .billet {
        margin: 50px 0;
    }
    section,
    footer {
        padding: 40px 0 0;
    }
    .billet {
        margin-bottom: 40px;
    }
    .billet .billet__border-block--item ul li:first-child img {
        width: 64px;
        height: 64px;
        margin: 0 0 15px;
    }
    .billet .billet__border-block--item ul li:nth-child(3) {
        margin: 15px 0;
    }
    .instant__block div.first div {
        padding: 20px;
    }
    footer img {
        width: 100px;
        height: 100px;
    }
    footer {
        margin-bottom: 20px;
    }
    .ausproviet h2 {
        margin-top: 30px;
    }
    .news {
        padding-top: 40px;
    }
    .single-news__date {
        font-size: 14px;
    }
    .products__title {
        margin-bottom: 20px;
    }
    .products__descr p {
        font-size: 14px!important;
    }
    .product-card__inner {
        padding: 40px 15px;
        margin: 0 -15px;
    }
    .shop-items {
        padding-bottom: 40px;
    }
    .about {
        padding-top: 40px;
    }
}

@media (max-width: 768px) {
    .products__descr p {
        font-size: 12px!important;
    }
    .callback__inner {
        padding: 0;
    }
    .about__description {
        font-size: 12px!important;
    }
    .callback__body {
        padding: 10px;
    }
    .about {
        padding-top: 30px;
    }
    .product-card__inner {
        padding: 30px 10px;
        margin: 0 -10px;
    }
    .product-card__item .product-card__title,
    .product-card__item.product-card__item--big-item .product-card__title,
    .is_page .tabs-section__items--item .h1 {
        font-size: 20px!important;
        margin-bottom: 10px;
    }
    .product-card__item .product-card__description,
    .product-card__item.product-card__item--big-item .product-card__description {
        padding: 20px;
    }
    .product-card__item .product-card__descr,
    .product-card__item.product-card__item--big-item .product-card__descr {
        font-size: 12px;
        margin-bottom: 0;
    }
    .mt-3 {
        margin-top: 0!important;
    }
    .is_page .tabs-section img {
        margin: 10px 0!important;
    }
    .is_page .tabs-section__items--item .button {
        margin-top: 20px;
    }
    .contact-slider {
        padding: 0;
        .slick-dots {
            width: auto;
            left: calc(50% - 50px);
        }
    }
    .ausproviet {
        background: #B38A4C;
    }
    .header__top--soc {
        width: 300px!important;
        left: calc(50% - 100px);
        img {
            margin-right: 10px;
        }
    }
    .header__top--soc ul li a {
        display: flex;
        align-items: center;
    }
    header.header .header__bottom--no-fon::after {
        display: none;
    }
    .header.header .header__bottom--no-fon h1,
    .header.header .header__bottom--no-fon p {
        color: black;
    }
    .news {
        padding-top: 30px;
    }
    .is_page .billet .billet__border-block {
        padding: 0;
    }
    .is_page .tabs-section__items--item {
        padding-top: 30px;
    }
    .is_page .billet,
    .video ul {
        margin: 30px 0;
    }
    .geheimnis p,
    .billet,
    .advantages,
    .is_page .tabs-section__description p:last-child {
        margin-bottom: 30px!important;
    }
    .leichtigkeit,
    .slider,
    .instant {
        padding: 30px 0;
    }
    section,
    footer {
        padding: 30px 0 0;
    }
    .leichtigkeit .leichtigkeit__item,
    .book .book__inner,
    .advantages-item {
        padding: 20px;
    }
    .advantages .col-lg-3:not(:last-child),
    .single-news__title {
        margin-bottom: 10px;
    }
    header.header .header__bottom p,
    .ausproviet p,
    .advantages-item p,
    .instant p,
    footer p,
    .anwendung .anwendung__item p,
    .button span.first-span,
    a.button span.first-span,
    .billet .billet__border-block--item ul li p,
    .geheimnis p,
    .video p,
    .book__descr,
    .banner__text,
    .banner__link,
    .news__date,
    .news__descr,
    .link,
    .single-news__date,
    .single-news__text p,
    .is_page .tabs-section p,
    .geheimnis p,
    .video p,
    .popup__descr p,
    footer a {
        font-size: 12px;
    }
    header.header .header__bottom h1,
    .billet .billet__border-block--item ul li strong,
    .ausproviet h2,
    .instant h2,
    .leichtigkeit .leichtigkeit__item p,
    .video h2,
    .slider h2,
    .anwendung .anwendung__item h2,
    .title {
        font-size: 20px;
    }
    .button span.first-span,
    a.button span.first-span {
        font-size: 14px;
    }
    .geheimnis p,
    .book__descr {
        font-size: 12px;
        line-height: 20px;
    }
    .geheimnis img,
    .leichtigkeit .leichtigkeit__item p,
    .instant h2,
    .single-news__img {
        margin-bottom: 20px;
    }
    header.header .header__bottom .text-center {
        padding-bottom: 30px;
    }
    .instant a.button {
        margin-top: 10px;
    }
    .anwendung .button,
    .ausproviet a.button {
        margin: 0;
        margin-bottom: 20px;
    }
    .hamburger-container {
        margin-right: 0px;
    }
    .header__top.cloned .hamburger-container {
        margin-right: 0px!important;
    }
    header.header .header__bottom::after {
        margin: 0;
    }
    .anwendung .anwendung__item {
        min-height: auto;
    }
    .anwendung .col-md-6 {
        flex: auto;
    }
    .news__description,
    .banner__inner {
        padding: 20px 30px!important;
    }
    .news__descr {
        -webkit-line-clamp: 4;
    }
    .billet__border-first-block {
        display: none;
    }
    .billet .billet__border-block {
        padding: 0;
    }
    .fancybox-slide {
        padding: 10px 0;
    }
    .popup {
        padding: 10px;
    }
    .popup .fancybox-close-small {
        top: -5px;
        right: 0px;
    }
    .popup__descr {
        margin-bottom: 10px;
    }
    .popup__input {
        padding: 0px 15px;
        // border-radius: 15px;
        &:nth-last-child(2) {
            padding: 10px 15px;
        }
    }
}

@media (max-width: 600px) {
    .news__item {
        flex-direction: column;
        max-height: 100%;
        padding-top: 20px;
    }
    .news__img {
        align-self: center;
    }
}

@media (max-width: 991.98px) {
    .header__top.cloned {
        .header__top--soc {
            margin: 0;
        }
        .hamburger-container {
            margin: 0 1.6em;
        }
    }
    .tabs-section__pt {
        padding-top: 30px!important;
    }
    .is_page .tabs-section img {
        margin: 0 10px 0 0;
    }
    .back {
        font-size: 12px!important;
    }
    .tabs-section__menu .back {
        top: calc((30px - 18px) / 2);
        padding-left: 10px;
    }
}

@media (max-width: 450px) {
    .header__top--soc {
        width: 300px!important;
        left: calc(50% - 150px);
    }
}