.products {
    padding: 40px 0 50px 0;
    text-align: center;
    &__title {
        margin-bottom: 33px;
    }
    &__descr {
        max-width: 1000px;
        margin: 0 auto;
    }
    &__descr p {
        color: #212C4C!important;
        font-size: 18px!important;
        line-height: 150%!important;
    }
}

.product-card {
    &__inner {
        padding: 94px 0 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -15px;
    }
    &__item {
        background: #FFFFFF;
        box-shadow: 0px 20px 50px rgba(222, 216, 207, 0.5);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        margin: 15px;
        flex: calc(100%/3 - 30px);
        max-width: calc(100%/3 - 30px);
        overflow: hidden;
        position: relative;
        &:hover {
            .product-card__hover {
                z-index: 1;
                opacity: 1;
            }
        }
    }
    &__item--big-item {
        flex: calc(100% - 30px) 0 1;
        max-width: calc(100% - 30px);
        flex-direction: row;
        max-height: 460px;
        .product-card__img {
            flex: 60% 0 1;
            max-width: 60%;
            height: 100%;
            img {
                max-height: 100%;
            }
        }
        .product-card__description {
            flex: 40% 0 1;
            max-width: 40%;
            padding: 84px;
        }
        .product-card__title {
            font-size: 30px;
            line-height: 130%;
        }
        .product-card__descr {
            font-size: 18px;
            line-height: 154.19%;
        }
        .product-card__hover {
            &__column {
                flex: 50% 0 1;
                max-width: 50%;
                &:first-child {
                    // margin-right: 100px;
                }
            }
            .product-card__title {
                margin-bottom: 70px;
            }
        }
    }
    &__img {
        img {
            display: block;
            width: 100%;
            max-height: 210px;
            object-fit: cover;
        }
    }
    &__description {
        text-align: center;
        padding: 27px;
    }
    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 130%;
        color: #B29972;
        max-width: 258px;
        margin: 0 auto;
        margin-bottom: 23px;
    }
    &__descr {
        font-size: 14px;
        line-height: 22px;
    }
    &__hover {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(33, 44, 76, 0.9);
        color: white;
        padding: 60px;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.4s ease;
        .product-card__title {
            width: 100%;
            max-width: 100%;
            text-align: center;
            font-size: 24px;
            line-height: 130%;
        }
    }
    &__name {}
    &__menu {
        display: flex;
        width: 100%;
        justify-content: center;
        max-width: 740px;
        margin: 0 auto;
    }
    &__column {
        &:first-child {
            // margin-right: 100px;
        }
    }
    &__link {
        margin-bottom: 20px;
        list-style: none;
        padding-left: 30px;
        position: relative;
        &:hover {
            color: #B38A4C;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            background-color: #B38A4C;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            left: 0;
            top: calc(50% - 3px);
        }
        a {
            color: inherit!important;
            font-size: 18px;
            line-height: 130%;
        }
        &::marker {
            color: white;
            background-color: white;
        }
    }
}

header.header .header__bottom h1.products__title::after {
    display: none;
}

.is_page {
    .tabs-section {
        &__items--item {}
        &__description {
            padding-top: 24px;
            font-size: 18px;
            line-height: 150%;
            max-width: 900px;
            margin: 0 auto;
            p {
                &:not(:first-child) {
                    margin-bottom: 27px;
                }
                &.li {
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 6px;
                        height: 6px;
                        left: calc(50% - 3px);
                        top: -15px;
                        border-radius: 50%;
                        background-color: #B29972;
                    }
                }
            }
        }
    }
}

.tabs-section__menu {
    position: relative;
    .back {
        display: flex;
        align-items: center;
        position: absolute;
        top: calc(50% - 9px);
        width: 56px;
        height: 18px;
        &:after {
            display: none;
        }
        img {
            margin-right: 20px;
        }
    }
    .link {}
}

.bold {
    font-weight: bold;
}

.banner {
    padding: 0;
    &__wrapper {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        background: #212C4C;
        box-shadow: 0px 18.3398px 45.8495px rgba(48, 61, 99, 0.22);
        border-radius: 18.3398px;
        color: white;
        padding: 18px;
    }
    &__inner {
        border: 1px solid transparent;
        background-color: #212C4C;
        background-clip: padding-box;
        position: relative;
        border-radius: 10px;
        // display: flex;
        padding: 47px 60px 33px;
        z-index: 1;
        text-align: center;
        &:after {
            content: '';
            // display: block;
            position: absolute;
            // top: 200px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -2;
            margin: -1px;
            border-radius: inherit;
            background: linear-gradient(90deg, #dfb97d, #dfb97d, #caa46f, #b49061, #b49061, #caa46f, #dfb97d, #dfb97d)
        }
        &::before {
            content: '';
            // display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: 0px;
            border-radius: inherit;
            background: #212C4C
        }
    }
    &__item:not(:last-child) {
        margin-bottom: 35px;
    }
    &__text {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 144.5%;
        font-weight: normal;
    }
    &__link {
        text-decoration: underline;
        font-size: 18px;
        line-height: 144.5%;
        cursor: pointer;
        color: #B38A4C!important;
    }
}

.shop {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        padding-top: 45px;
        margin: -15px;
    }
    &__item {
        flex: calc(25% - 30px) 0 1;
        max-width: calc(25% - 30px);
        list-style: none;
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        position: relative;
        max-height: 430px;
        border: 1px solid #F7F6ED;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #fff;
        &:hover {
            .shop__button {
                bottom: -80px;
                z-index: 1;
                opacity: 1;
            }
        }
    }
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 168px;
        margin-bottom: 37px;
        margin-top: 20px;
        img {
            display: block;
            width: 168px;
            height: 168px;
            object-fit: contain;
        }
    }
    &__descr {
        font-size: 14px;
        line-height: 22px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 25px;
    }
    &__price {
        color: #B38A4C;
        font-size: 18px;
        line-height: 154.19%;
    }
    &__button {
        position: absolute;
        background-color: black;
        width: 100%;
        padding: 33px 0 18px;
        z-index: -1;
        max-height: 111px;
        bottom: 0px;
        transition: all 0.4s ease;
        opacity: 0;
        // box-shadow: 0px 20px 50px rgba(222, 216, 207, 0.5);
        border-radius: 10px;
        border: 1px solid #F7F6ED;
        border-top: none;
        background-color: #fff;
        .button {
            margin-top: 0!important;
        }
    }
}

.breadcrumbs {
    display: flex;
    padding-top: 22px;
    &__item {
        height: 16px;
        display: flex;
        align-items: center;
        a {
            color: #D0CEB7;
            font-size: 12px;
            line-height: 130%;
            transition: all 0.4s ease;
            &:hover {
                color: #B29972;
            }
        }
        &:not(:last-child) {
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid #D0CEB7;
        }
    }
}