@keyframes loading {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.loading {
    display: flex;
    align-items: center;
    p {
        font-size: 17px;
        line-height: 150%;
        color: #B29972;
        margin-bottom: 0;
    }
}

.loading__inner {
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}

.loading__dot div {
    left: 46.5px;
    top: 23.5px;
    position: absolute;
    animation: loading linear 1s infinite;
    background: #B29972;
    width: 7px;
    height: 13px;
    border-radius: 3.5px / 6.5px;
    transform-origin: 3.5px 26.5px;
}

.loading__dot div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #B29972;
}

.loading__dot div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #B29972;
}

.loading__dot div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #B29972;
}

.loading__dot div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #B29972;
}

.loading__dot div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #B29972;
}

.loading__dot div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #B29972;
}

.loading__dot div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #B29972;
}

.loading__dot div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #B29972;
}

.loading__dot div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #B29972;
}

.loading__dot div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #B29972;
}

.loading__dot div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #B29972;
}

.loading__dot div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #B29972;
}

.loading__dot {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.3);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.loading__dot div {
    box-sizing: content-box;
}