.leichtigkeit {
    .leichtigkeit__item.leichtigkeit__item--main {
        padding: 45px;
    }
    .leichtigkeit__item {
        .leichtigkeit__title {
            font-weight: bold;
            font-size: 24px;
            line-height: 141%;
            color: #B29972;
            margin-bottom: 15px;
        }
        .leichtigkeit__descr {}
        .leichtigkeit__p {
            font-weight: normal;
            font-size: 18px;
            line-height: 141%;
            margin-bottom: 20px;
            text-align: left;
        }
        .leichtigkeit__bottom {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .leichtigkeit__signature {
            margin-bottom: 0;
            margin-right: 24px;
        }
    }
}

.leichtigkeit {}

.container {}

.row {}

.col-12 {}

.first {}

.cosmos {
    margin-top: 40px;
    height: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: url(../img/new_main/cosmos.png) center/cover no-repeat;
    color: #F7F6ED;
    text-align: center;
    &__inner {}
    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 120%;
    }
    &__descr {
        font-size: 24px;
        line-height: 141%;
    }
}

.callback {
    &__inner {}
    &__body {}
    &__title {}
    &__form {}
    &__input {}
    &__button-wrap {}
    &__button {}
}

.main-callback {
    padding-top: 0;
    z-index: 10;
    transform: translateY(-60px);
    &__inner {}
    .callback__body {
        margin: 0 auto;
        max-width: 960px;
        border-radius: 15px;
        padding: 20px;
        background-color: #fff;
    }
    &__body {
        padding: 30px 50px;
        border: 1px solid transparent;
        background-clip: padding-box;
        z-index: 1;
        position: relative;
        width: 100%;
        border-radius: 10px;
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            /* !importanté */
            border-radius: inherit;
            /* !importanté */
            background: white;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -1px;
            /* !importanté */
            border-radius: inherit;
            /* !importanté */
            background: -webkit-gradient( linear, left top, right top, from(#dfb97d), color-stop(#dfb97d), color-stop(#caa46f), color-stop(#b49061), color-stop(#b49061), color-stop(#caa46f), color-stop(#dfb97d), to(#dfb97d));
            background: -webkit-linear-gradient( left, #dfb97d, #dfb97d, #caa46f, #b49061, #b49061, #caa46f, #dfb97d, #dfb97d);
            background: -o-linear-gradient( left, #dfb97d, #dfb97d, #caa46f, #b49061, #b49061, #caa46f, #dfb97d, #dfb97d);
            background: linear-gradient( 90deg, #dfb97d, #dfb97d, #caa46f, #b49061, #b49061, #caa46f, #dfb97d, #dfb97d);
        }
    }
    &__text {
        text-align: center;
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 144.5%;
    }
    &__textarea {
        border-radius: 20px;
    }
}

.popup {
    &__row {}
}

.button {}

.border-gradient {}

.first-span {}

.main-bottom {
    &__images {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0 -10px;
    }
    &__item {
        flex: calc(20%) 0 1;
        max-width: calc(20%);
        padding: 0 10px;
        margin-bottom: 20px;
        list-style: none;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 1300px) {
    .leichtigkeit .leichtigkeit__item .leichtigkeit__title,
    .cosmos__descr {
        font-size: 20px;
    }
    .leichtigkeit .leichtigkeit__item .leichtigkeit__p {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .cosmos__title {
        font-size: 24px;
    }
    .main-callback .callback__body {
        max-width: 786px;
    }
    .main-callback__text {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .leichtigkeit .leichtigkeit__item.leichtigkeit__item--main {
        padding: 10px;
    }
    .leichtigkeit__bottom {
        img {
            max-width: 120px;
            height: auto;
        }
    }
    .leichtigkeit .leichtigkeit__item .leichtigkeit__title {
        margin: 15px 0 0;
    }
    .leichtigkeit .leichtigkeit__item .leichtigkeit__signature {
        margin: 0 20px 0 0;
    }
    .leichtigkeit .leichtigkeit__item .leichtigkeit__title,
    .cosmos__descr {
        font-size: 18px;
    }
    .leichtigkeit .leichtigkeit__item .leichtigkeit__p {
        font-size: 12px;
    }
    .cosmos {
        margin-top: 0;
        height: 200px;
    }
    .cosmos__title {
        font-size: 18px;
    }
    .main-callback__body {
        padding: 10px;
    }
    .main-callback .callback__body {
        padding: 10px;
    }
    .main-callback {
        transform: none;
        margin: 30px 0;
    }
    .main-bottom__images {
        flex-wrap: wrap;
    }
    .main-bottom__item {
        flex: 33.333% 0 1;
        max-width: 33.333%;
    }
    .cosmos__descr {
        margin-bottom: 0;
    }
    .main-callback__text {
        margin-bottom: 20px;
    }
}