.fancybox-slide {
    padding: 20px;
}

.popup {
    padding: 18px;
    // max-height: 624px;
    width: 100%;
    max-width: 1150px;
    border-radius: 10px;
    cursor: auto!important;
    color: white;
    filter: drop-shadow(0px 0px 27.5097px rgba(48, 61, 99, 0.42));
    background-color: #212C4C;
    overflow: visible;
    &__text {
        padding: 30px 45px;
        @media (max-width: 768px) {
            padding: 10px 15px;
        }
        .popup__descr {
            margin-bottom: 20px;
            @media (max-width: 768px) {
                margin-bottom: 10px;
            }
            .popup__head-text {
                font-weight: bold;
                font-size: 18px;
                line-height: 144.5%;
                color: #B29972;
                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }
            p {
                font-size: 14px;
                line-height: 145%;
                @media (max-width: 768px) {
                    font-size: 12px;
                }
                &:not(:last-child) {
                    margin-bottom: 30px;
                    @media (max-width: 768px) {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    &__inner {
        display: flex;
        border-radius: 10px;
        border: 1px solid transparent;
        background-color: #212C4C;
        background-clip: padding-box;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 1px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -2px;
            border-radius: inherit;
            background: linear-gradient(90deg, #dfb97d, #dfb97d, #caa46f, #b49061, #b49061, #caa46f, #dfb97d, #dfb97d)
        }
    }
    &__img {
        border-radius: 10px 0 0 10px;
        overflow: hidden;
        img {
            // width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
    &__body {
        padding: 25px 60px;
    }
    &__descr {
        margin-bottom: 40px;
        p {
            margin: 0;
            font-size: 18px;
            line-height: 144.5%;
            font-weight: normal;
        }
    }
    &__form {
        label {}
    }
    &__input {
        border-radius: 36.6796px;
        background: #131B34;
        // border: 0.91699px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        min-height: 45px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 30px;
        margin-bottom: 20px;
        input,
        textarea {
            // mix-blend-mode: multiply;
            background-color: transparent!important;
            opacity: 0.52;
            width: 100%;
            border: none;
            font-size: 14px;
            line-height: 16px;
            color: white
        }
    }
    label[for="comment"] {
        border-radius: 16px;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        >* {
            max-width: 48%;
            flex: 48% 0 1;
        }
    }
    &__button {
        &-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        span {
            span {
                font-size: 16px;
            }
        }
    }
    .fancybox-close-small {
        top: -15px;
        right: -15px;
        background-color: #fff;
        border-radius: 50%;
        color: black;
        width: 25px;
        height: 25px;
        padding: 0;
    }
}

.some-color {
    color: #B29972;
}

header.header .header__bottom-contact {
    background-image: none;
    padding-bottom: 0!important;
    &::after {
        display: none!important;
    }
}

.contact-slider {
    padding: 0 30px;
    &__slide {}
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 800px;
            width: 100%;
            height: auto;
        }
    }
    .slick-arrow {
        width: 40px;
        height: 40px;
        border: 1px solid #B38A4C;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            font-size: 20px;
            font-family: monospace;
            color: #B38A4C;
        }
    }
    .slick-prev {
        left: -10px;
        &::before {
            content: "<";
        }
    }
    .slick-next {
        right: -10px;
        &::before {
            content: ">";
        }
    }
    .slick-list {
        padding-bottom: 0;
    }
}

header.header {
    // padding-top: 1px;
    background-color: #F7F6ED;
    background-clip: content-box;
}

.header__top {
    background-color: #fff;
}

.header__bottom {
    // background-color: #fff;
}

.about {
    padding: 50px 0 0px 0;
    &__title {
        margin-bottom: 28px;
    }
    &__description {
        font-size: 18px;
        line-height: 150%;
        color: #212C4C;
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
    }
}

.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    color: #B29972;
    text-align: center;
}

.container {}

.callback {
    &__inner {
        background-clip: padding-box;
        border: solid 1px transparent;
        background-color: white;
        position: relative;
        padding: 40px;
        border-radius: 15px;
        &:before {
            content: '';
            position: absolute;
            top: 0px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -2px;
            /* !importanté */
            border-radius: inherit;
            /* !importanté */
            background: linear-gradient(90deg, #dfb97d, #dfb97d, #caa46f, #b49061, #b49061, #caa46f, #dfb97d, #dfb97d)
        }
    }
    &__body {
        box-shadow: 0px 20px 50px rgba(222, 216, 207, 0.5);
        border-radius: 10px;
        padding: 50px 30px 40px 90px;
        display: flex;
    }
    &__left {
        flex: 40% 0 1;
        max-width: 40%;
    }
    &__right {
        padding-left: 30px;
        flex: 60% 0 1;
        max-width: 60%;
    }
    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 130%;
        text-align: center;
        color: #B29972;
        margin-bottom: 37px;
    }
    &__input {
        border-radius: 36.6796px;
        background: #F7F6ED;
        // border: 0.91699px solid #000000;
        // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        min-height: 45px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 30px;
        margin-bottom: 20px;
        input,
        textarea {
            // mix-blend-mode: multiply;
            background-color: transparent!important;
            opacity: 0.52;
            width: 100%;
            border: none;
            font-size: 14px;
            line-height: 16px;
            color: black;
        }
    }
    label[for="comment"] {
        border-radius: 16px;
    }
    &__button {
        &-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        span {
            span {
                font-size: 16px;
            }
        }
    }
}

.container {}

.contact {
    font-size: 16px;
    line-height: 150%;
    &__title {
        font-weight: bold;
        color: #B29972;
        padding-left: 50px;
    }
    &__items {
        padding-left: 50px;
    }
    &__item {
        display: flex;
        margin-left: -50px;
        max-width: 220px;
    }
    &__img {
        padding-right: 20px;
    }
    &__descr {}
    &__footer {
        font-size: 14px;
        line-height: 150%;
        color: #B29972;
    }
}

.header__bottom-news {
    background: #F7F6ED;
    opacity: 0.5;
    height: 64px;
    background-image: none!important;
    padding: 0!important;
    &:after {
        content: none!important;
    }
}

.book {
    &__inner {
        background-clip: padding-box;
        border: solid 1px transparent;
        background-color: white;
        position: relative;
        padding: 90px 105px 90px 70px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:before {
            content: '';
            position: absolute;
            top: 0px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -2px;
            border-radius: inherit;
            background: linear-gradient(90deg, #dfb97d, #dfb97d, #caa46f, #b49061, #b49061, #caa46f, #dfb97d, #dfb97d)
        }
    }
    &__img {}
    &__body {
        max-width: 625px;
    }
    &__title {
        text-align: left;
    }
    &__descr {
        margin-top: 33px;
        margin-bottom: 33px;
        font-size: 18px;
        line-height: 150%;
    }
    &__button {}
}

@media (min-width: 1300px) {
    .geheimnis p {
        font-size: 18px;
        max-width: 1010px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}

.button span.first-span,
a.button span.first-span {
    font-size: 17px;
    line-height: 20px;
}

.button span.first-span span,
a.button span.first-span span {
    text-align: center;
}

// .news__wrapp {
// position: absolute;
// width: 100%;
// height: 100%;
// display: block;
// top: 0;
// left: 0;
// }
// .news__item {
//     position: relative;
// }
.product-card__wrapp {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
}

.billet .billet__border-block--item ul li p {
    &.li {
        margin-top: 26px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 50px;
            height: 1px;
            left: calc(50% - 25px);
            top: -15px;
            border-radius: 50%;
            background-color: #B29972;
            opacity: 0.5;
        }
    }
}

.ausproviet h2 {
    text-align: center;
}

.shop-items {
    padding-bottom: 55px;
}

.instant {
    background: #212C4C;
    padding: 63px 0;
}

nav ul li a {
    color: #212C4C;
    &:hover {
        color: #B29972;
    }
}

.anwendung {
    .row {
        justify-content: center;
    }
    .col-md-6 {
        flex: 356px 0 1;
        max-width: 356px;
        margin: 0 30px;
    }
}

.billet {
    background: url(../img/Group-right.svg) center right no-repeat;
}

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block!important;
    top: -100%;
    left: 0;
    z-index: 400;
    padding-top: 130px;
    transition: all 0.4s ease;
    &.active {
        top: 0;
    }
}

.mobile-menu #menu li a {
    font-size: 20px!important;
}

.news__link {
    margin: 10px 0 0 auto!important;
    margin-top: 10px!important;
}

.social-btn {
    display: none;
    background-color: transparent;
    // border-radius: 50%;
    // border: 1px solid #B38A4C;
    // width: 40px;
    // height: 40px;
    // background-image: url(../img/phone.svg);
    color: #212c4c;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    font-size: 14px;
    padding: 0px 10px;
    border-radius: 25px;
    border: 2px solid #B38A4C;
    svg {
        width: 20px;
        height: 20px;
        path {
            fill: #B38A4C;
        }
    }
    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.product-card__item--big-item {
    width: 100%;
}

.news__description {
    width: 100%;
}

.shop__item,
.shop__descr {
    width: 100%;
}

.shop__button {
    left: 0;
}

.single-news__text {
    width: 100%;
}

.advantages-item p {
    width: 100%;
}

@media (max-width: 768px) {
    header.header .header__top--soc ul li img {
        width: 40px;
        height: 40px;
    }
    header.header .header__top--soc ul li {
        &:first-child {
            img {
                border-radius: 50%;
                border: 1px solid #B38A4C;
                padding: 5px;
                // padding-top: 6px;
            }
        }
    }
    header.header .header__top--soc ul li a {
        font-size: 20px;
    }
    .header__top--soc {
        width: 200px;
        height: auto;
        background-color: #fff;
        position: absolute;
        padding: 20px 20px;
        margin: 0px!important;
        left: calc(50% - 60px);
        top: 0;
        display: none!important;
        z-index: -100;
        box-shadow: 0 20px 50px rgba(222, 216, 207, 0.5);
        transition: all 0.4s ease;
        &.active {
            display: block!important;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                a {
                    margin: 0!important;
                }
            }
        }
    }
}

.phone-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thank-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #212C4C;
    padding: 25px;
    border-radius: 20px;
    min-width: 250px;
    z-index: 100;
    // opacity: 0;
    display: none;
    &__inner {
        position: relative;
        height: 100%;
        min-height: 300px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        background-clip: padding-box;
        border: solid 1px transparent;
        border-radius: 15px;
        &:before {
            content: '';
            position: absolute;
            top: 0px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -2px;
            /* !importanté */
            border-radius: inherit;
            /* !importanté */
            background: linear-gradient(90deg, #dfb97d, #dfb97d, #caa46f, #b49061, #b49061, #caa46f, #dfb97d, #dfb97d)
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
        overflow: hidden;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__head {
        z-index: 2;
        position: relative;
        text-align: center;
        font-size: 34px;
        margin-bottom: 30px;
        color: #B29972;
    }
    &__body {
        z-index: 2;
        position: relative;
        font-size: 18px;
        max-width: 350px;
        text-align: center;
    }
}

.is_page .tabs-section {
    .shop-page__img {
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            margin: 0;
            border-radius: 20px;
            max-width: 100%;
        }
    }
}

.is_page .shop-page {
    padding-top: 30px;
    &__img {
        position: relative;
        &.has-after {
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 51.56%, rgba(255, 255, 255, 0) 100%);
            }
        }
        img {}
    }
    .shop-page__img-text {
        position: absolute;
        font-weight: bold;
        font-size: 36px;
        line-height: 130%;
        text-align: center;
        color: #B29972;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    &__img-line {
        margin-top: 40px;
        margin-bottom: 40px;
        background: #212C4C;
        border-radius: 10px;
        padding: 5px;
    }
    &__line-inner {
        position: relative;
        padding: 15px;
        padding-left: 170px;
        text-align: left;
        border: 1px solid transparent;
        background-clip: padding-box;
        z-index: 1;
        border-radius: 6px;
        &:after {
            content: '';
            position: absolute;
            top: 0px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            /* !importanté */
            border-radius: inherit;
            /* !importanté */
            background: #212C4C
        }
        &:before {
            content: '';
            position: absolute;
            top: 0px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -1px;
            /* !importanté */
            border-radius: inherit;
            /* !importanté */
            background: linear-gradient(90deg, #dfb97d, #dfb97d, #caa46f, #b49061, #b49061, #caa46f, #dfb97d, #dfb97d)
        }
        p {
            font-size: 18px;
            line-height: 150%;
            color: white;
            span {
                font-weight: 900;
                text-transform: uppercase;
                color: #B29972;
            }
        }
    }
    &__line-img {
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        width: 98px;
        height: 98px;
        padding: 6px;
        box-shadow: 0px 9.1699px 22.9247px rgba(178, 153, 114, 0.3);
        border-radius: 50px;
        background-color: #fff;
        img {
            margin: 0!important;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__line {
        background: #212C4C;
        border-radius: 10px;
        height: 60px;
        max-width: 1070px;
        padding: 15px 0;
        margin: 0 auto;
        color: white;
        font-size: 18px;
        line-height: 150%;
        transform: translateY(-50%);
        margin-bottom: 10px;
    }
    &__descr {
        max-width: 1000px;
        font-size: 18px;
        line-height: 150%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 60px;
    }
    &__list {}
    &__item {
        padding: 50px 50px 40px;
        border: 1px solid #F7F6ED;
        box-sizing: border-box;
        border-radius: 10px;
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
    &__top {
        display: flex;
        text-align: left;
    }
    &__item-img {
        margin-right: 55px;
        img {
            width: 201px;
            height: 201px;
            object-fit: contain;
            margin: 0;
        }
    }
    &__name {
        font-weight: bold;
        font-size: 36px;
        line-height: 154.19%;
        color: #B29972;
        margin-bottom: 10px;
    }
    &__term {
        margin-bottom: 0;
        dt {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 22px;
        }
        dd {
            margin-bottom: 0;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            padding-left: 15px;
            margin-bottom: 0;
        }
        li {
            flex: 50% 0 1;
            max-width: 390px;
            list-style: none;
            position: relative;
            font-size: 14px;
            line-height: 22px;
            &:before {
                content: "";
                width: 6px;
                height: 6px;
                display: block;
                left: -15px;
                top: 10px;
                border-radius: 3px;
                background-color: #B29972;
                position: absolute;
            }
        }
    }
    &__item-descr {
        p {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 16px;
        }
    }
    &__button {}
}

.gray-block {
    background: #F7F6ED;
    .container {
        display: flex;
        justify-content: space-between;
    }
    padding:50px 0 25px;
    margin: 40px 0;
    .left {
        flex: 390px 0 1;
        max-width: 390px;
    }
    .right {
        flex: calc(100% - 420px) 0 1;
        max-width: calc(100% - 420px);
    }
    &__img {
        position: relative;
        &.shadow {
            background: #FFFFFF;
            box-shadow: 0px 20px 50px rgba(222, 216, 207, 0.5);
            border-radius: 20px;
        }
        img {
            border-radius: 20px;
            margin: 0!important;
            display: block;
            width: 100%;
            height: 230px!important;
            object-fit: cover;
        }
        margin-bottom: 18px;
    }
    &__title {
        font-weight: bold;
        font-size: 36px!important;
        line-height: 130%;
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__link {
        text-decoration: underline;
    }
    &__text {
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        color: #212C4C;
        text-align: left;
        p {
            margin-bottom: 15px!important;
        }
    }
}

.shop-page {
    &__cards {
        display: flex;
    }
    &__card {
        border: 1px solid #F7F6ED;
        box-sizing: border-box;
        border-radius: 10px;
        max-height: 415px;
        flex: calc(25% - 30px) 0 1;
        max-width: calc(25% - 30px);
        margin-right: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 30px;
    }
    &__card-title {
        color: #B29972;
        margin-bottom: 25px;
    }
    .button {
        margin-top: 25px!important;
    }
    &__card-img {
        img {
            margin: 0!important;
        }
    }
}

.header__bottom-block {
    display: flex;
    flex-direction: column-reverse;
}

.is_page .header__bottom--no-fon .header__text-img img {
    width: 100%;
    max-height: 600px;
}

.header__text {
    text-align: center;
}

header.header .header__bottom h1.header__text-title {
    margin-top: 20px;
}

.billet.billet-no-bold .billet__border-block--item ul li strong {
    font-size: inherit;
    font-weight: bold;
}

.text-600 {
    max-width: 600px;
    @media (max-width: 768px) {
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    header.header .header__bottom h1::after {
        display: none;
    }
}

@import "_news";
@import "_spinner";
@import "_products";
@import "_adaptive";